/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style-type: none;
}

.btn{
  background-color: #30b868;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn:hover{
  background-color: #fd6f0aea;
  cursor: pointer;
  box-shadow: 0 4px 25px 5px #fd6f0aea;
}

.btn a{
  color: #ffffff;
  font-size: 1.20em;
}

.btn:hover a{
 color: black;
}

.container{
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

/* main style */

/* nav section */
header nav{
  padding: 20px 0;
}
header nav .nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content ul{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.nav-content ul li:hover a{
  color: #30b868;
}

.nav-content ul li a{
  color: #000000;
  font-weight: 500;
  font-size: 17px;
} 

.nav-content span{
  display: inline-block;
  align-content: center;
}

/* hero-area */
section.hero-area{
  background-image: url(./../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-area .hero-content{
  padding: 120px 0;
  text-align: center;
}

.hero-area .hero-content .btn-1{
  margin-bottom: 15px;
  padding: 6px 15px;
  border: none;
  border-radius: 60px;
}

.hero-area .hero-content .btn-1:hover{
  box-shadow: 0 2px 10px 5px #fd6f0aea;
}

.hero-area .hero-content .btn-1 a{
  color: #30b868;
  font-size: 15px;
  font-weight: 500;
}

.hero-area .hero-content .btn-1:hover a{
  color: black;
}

.hero-area .hero-content .btn-1:hover i{
  color: #fd6f0aea;
}

.hero-area .hero-content .btn-1 a i{
  margin-right: 5px;
}

.hero-area .hero-content h1{
  margin-bottom: 15px;
}

.hero-area .hero-content h1 span{
  display: block;
  line-height: normal;
  font-size: 2.20em;
  opacity: 0.8;
}

.hero-area .hero-content h1 .sp-1{
  color: #ffffff;
}

.hero-area .hero-content h1 .sp-2{
  color: #30b868;
}

.hero-area .hero-content p{
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  line-height: 35px;
}

.hero-area .hero-content .sp-3, .sp-4{
  margin-right: 10px;
}

.hero-area .hero-content .sp-3 button{
  padding: 13px 13px;
  background-color: #30b868;
  border: none;
  border-radius: 5px;
}

.hero-area .hero-content .sp-3 button:hover{
  background-color: #fd6f0aea;
  cursor: pointer;
  box-shadow: 0 2px 10px 5px #fd6f0aea;
}

.hero-area .hero-content .sp-3 button a{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.hero-area .hero-content .sp-3 button i{
  margin-left: 4px;
}

.hero-area .hero-content .sp-4 button{
  padding: 13px 13px;
  border-radius: 0;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.742);
  border-radius: 5px;
}

.hero-area .hero-content .sp-4 button:hover{
  box-shadow: 0 2px 10px 5px #fd6f0aea;
  border: 1px solid #fd6f0aea;
  cursor: pointer;
}

.hero-area .hero-content .sp-4 button a{
  color: #ffffff;
  font-size: 16px;
}

.hero-area .hero-content .sp-4 button:hover a{
  color: #fd6f0aea;
}

.hero-area .hero-content .sp-4 button a i{
  margin-right: 7px;
}

/* notes section */
section.notes{
  padding-top: 40px;
  margin-bottom: 120px;
  background-color: #f7f6f2;
  text-align: center;
}

section.notes .notes-container h2{ 
  font-size: 50px;
  font-weight: 700;
}

section.notes .notes-container .n-p1{
  color: #627382;
  font-size: 1.02em;
  margin-bottom: 40px;
}

.notes-container div.parent{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.notes-container div.parent div{
  padding: 0 20px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.032);
  border-right: 1px solid rgba(128, 128, 128, 0.132);
  border-left: 1px solid rgba(128, 128, 128, 0.132);
}

.notes-container div.parent div:hover img{
  background-color: #30b868;
}

.notes-container div.parent div img{
  background-color: #F95555;
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 50%;
}

.notes-container div.parent div h3{
  margin-bottom: 10px;
  line-height: normal;
  color: #001931;
  font-size: 1.40em;
  font-weight: 600;
}

.notes-container div.parent div .div-p{
  margin-bottom: 10px;
  color: #627382;
  line-height: normal;
  font-size: 15px;
}